:root {
  --primary-color: #5A87C2;
  --secondary-color: #2B4D7F;
  --tertiary-color: #0B2345;
  --background-color: #021027;

  color:#fff;
}
@font-face {
  font-family: 'minimal';
  src: url('../public/Fonts/minimal/minimal.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omegle';
  src: url('../public/Fonts/omegle/OMEGLE.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'prisma';
  src: url('../public/Fonts/prisma/Prisma.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brightness';
  src: url('../public/Fonts/brightness/Brightness.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aquatic';
  src: url('../public/Fonts/aquatic_2/AQUATIC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: 'minimal', sans-serif

}
body {
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  color: inherit;
}